{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="m-auto" style="text-align: center;">
  <h2 >{% trans "Welcome to DEV  " %}</h2>
  <span><a href="{% url 'index' %}">Dev</a> is a community of developers</span>
</div>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}


<div class="socialaccount_ballot mt-3">

  <div class="socialaccount_providers ">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </div>
  <div class="login-or-container">
    <div class="login-or mt-3">{% trans 'Have password? Continue with your username' %}</div>
  </div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login-f" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="login-options">
    <button class="primaryAction custom-nav create login-continue mb-3" type="submit">{% trans "Continue" %}</button>
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "I Forgot Password?" %}</a>
  </div>
</form>

{% endblock %}
