{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
.<div class="container mb-5 ">

    <div class="container p-size">
        <form  action="" method="POST" enctype="multipart/form-data">
            <div class="p-bg mb-3">
                {% csrf_token %}
                {{ forms.media }}
                <p class="file-upload">
                    <label for="file" class="file-btn">Add cover image</label> 
                    {{forms.header}}
                </p>
                {{forms.title|as_crispy_field }}
                <div class="form-group">
                    <div>
                        <input type="text" data-role="tagsinput"  name="tags" class="form-control created-post-tags" placeholder="Add up to 4 tags...">
                    </div>
                </div>
                {{forms.snippet|as_crispy_field }}
                <p class="p-b">Write your content post below: </p>
                {{forms.body|as_crispy_field }}
            </div>
                <input type="submit" class="custom-nav create post-add "value="Post Blog">
                {{forms.draft}}
                <label for="draft">Save to draft</label>
            </form>
            
    </div>
</div>
{% endblock content %}
