{% extends 'core/base.html' %} {% block content %}
<div class="container min-h pt-4">
    <h1>Dashboard</h1>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4">
        <div class="col">
            <div class="post-list-container b-shadow">
                <div>
                    <p>1</p>
                    <p>Following</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="post-list-container b-shadow">
                <div>
                    <p>1</p>
                    <p>Followers</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="post-list-container b-shadow">
                <div>
                    <p>1</p>    
                    <p>Posts</p>
                </div>  
            </div>
        </div>
    </div>
</div>
{% endblock content %}
