{% extends 'core/base.html' %} {% block content %}
<div class="container min-h pt-4">
    <h1>Dashboard</h1>
    <div class="dashboard-main row row-cols-2  row-cols-md-4">
        <div class="col mb-3">
            <div class="post-list-container b-shadow">
                <div>
                    <span class="main-following-count">{{ following_count }}</span>
                    <span>Following</span>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="post-list-container b-shadow">
                <div>
                    <span>{{ followers_count }}</span>
                    <span>Followers</span>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="post-list-container b-shadow">
                <div>
                    <span>{{ posts.count }}</span>    
                    <span>Posts</span>
                </div>  
            </div>
        </div>

        <div class="col mb-3">
            <div class="post-list-container b-shadow">
                <div>
                    <span>{{ draft_count }}</span>    
                    <span class="text-nowrap">Draft</span>
                </div>  
            </div>
        </div>
    </div>


    <div class="dashboard-container">
        <div class="dashboard-category">
            <div class="category-container">
                <ul class="parent-list">
                    <a class="category-btn children-list selected-toggle" href="{% url 'dashboard-data' 'Post' %}">
                    <li class="">
                            Post
                        </li>
                        
                        <span class="data-count" >{% if posts %}{{ posts.count }}{% else %} 0 {% endif %}</span>
                    </a>
                    <a class="category-btn children-list" href="{% url 'dashboard-data' 'Draft' %}">
                    <li class="children-list">
                            Draft
                        </li>
                        <span class="data-count" >{{draft_count}}</span>
                    </a>
                    <a class="category-btn children-list" href="{% url 'dashboard-data' 'Following' %}">
                    <li class="children-list">
                            Following
                        </li>
                        <span class="data-count following-count" >{{ following_count }}</span>
                    </a>
                    <a class="category-btn children-list" href="{% url 'dashboard-data' 'Followers' %}">
                    <li class="children-list">
                            Followers
                        </li>
                        <span class="data-count" >{{ followers_count }}</span>
                        </a>
                        <a class="category-btn children-list" href="{% url 'dashboard-data' 'Comment' %}">
                            <li class="children-list">
                                    Comments
                                </li>
                                <span class="data-count" >{{ comment_count }}</span>
                                </a>
                </ul>
            </div>
        </div>
        <div class="dashboard-container-data">
            <div class="header">
                <h4 class="header-title">
                    Posts
                </h4>
            </div>
            <div class="dashboard-container-inner">
                {% if posts %}
                {% for post in posts %}
                    <div class="dashboard-data b-shadow mb-3">
                        <div class="data">
                            <div class="title">
                                <a href="{% url 'post-detail' post.slug %}">{{post.title|truncatechars:30}}</a>
                            </div>                    
                            <div class="draft">
                                <a href="{% url 'post-detail' post.slug %}">Published</a>
                            </div>
                            <div class="controls">
                                <input type="hidden" id="id-edit" value="{{post.slug}}">
                                <a class="post-delete" href="#">Delete</a>
                                <a class="edit" href="{% url 'edit-post' post.slug %}">Edit</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                <h1>No Post</h1>
                {%  endif %}

                <input type="hidden" id="id-soc" data-url="{% url 'follow' request.user %}">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
