<div class="popup center b-shadow">
    <div class="dismiss-btn">
      <button class="ml-auto dismiss-popup-btn">
        +
      </button>
    </div>
    <div class="row row-cols-2 following-followers-container">
        <!-- <div class="user-profile">
            <div class="icon">
                <img class="author-profile" src="{{request.user.profile_img.profile.url}}" alt="">
            </div>
            <div class="description">
              @cadientejomel
            </div>
           <form class="ml-auto" action="">
               <button>Following</button>
           </form>
        </div> -->
        
    </div>
  </div>

  <div class="center">

  </div>