{% extends 'core/base.html' %}
{% block content %}
<div class="container min-h pt-5">

<div class="user-profile-container mb-3">
    
    {% if user.socialaccount_set.all  %}
    {% for account in user.socialaccount_set.all %}
    <div class="profile-img-container b-shadow pt-4">
        <div class="profile-img-size">
            <img class="profile-img" src="{{ account.get_avatar_url }}" alt="">
        </div>
    </div>
    <div class="profile-info-container">
        <h3>{{user.get_full_name}}</h3>
        <p>{{user.email}}</p>
    </div>
    {% endfor %}
    {% else %}
    <div class="profile-img-container">
        <div class="profile-img-size">
            <img class="profile-img" src="{{ user.profile_img.profile.url }}" alt="">
        </div>
    </div>
    <div class="profile-info-container">
        <h3>{{user.username}}</h3>
        <p>{{user.email}}</p>
    </div>
    {%endif%}
    {% if request.user.is_authenticated %}
    <a class="edit-profile custom-nav create" href="{% url 'profile-edit' %}">Edit Profile</a>
    {% endif %}
</div>

<div class="body-layout">
    <div class="row">
        <div class="col-4">
            <div class="user-activities-container">

                <ul>
                    <li class="user-activities"><span>
                        <i class="far fa-newspaper"></i>
                    </span>
                    {{post_count}} Post Published</li>
                    <li class="user-activities"><span>
                        <i class="far fa-comments"></i>
                    </span>
                    {{comment_count}} comments written</li>
                    <li class="user-activities"><span>
                        <i class="fas fa-book-reader"></i>
                    </span>
                    Reading List</li>
                </ul>
            </div>
        </div>
        <div class="col-8">
            {% for list in user.post_set.all %}
            <div class="post-list-container mb-3 b-shadow">
                <div class="about-user-container mb-2">
                    <div class="prof-u">
                        <img class="author-profile" src="{{ list.author.profile_img.profile.url }}" alt="">
                        <div class="about-the-post">
                            <a class="post-about" href="{% url 'post-detail' list.slug %}">
                                <h5>{{ list.title }}</h5>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="reactions">
                    <div class="mr-1">{{list.author}}</div>

                    <span class="divider-circle ml-1 mr-1"> • </span>
                    <div class="count-reactions mr-1 ml-1">
                        <i class="far fa-heart"></i> 
                        <span>{{ list.likes.count }} reactions</span>
                    </div>
                    <span class="divider-circle ml-1 mr-1"> • </span>
                    <span class="ml-1" id="date-c">{{ list.created }}</span>
                </div>
            </div>
                {% endfor %}

        </div>
    </div>
</div>
</div>
</div>
<script>
    let dateContainer = document.querySelectorAll('#date-c')
    dateContainer.forEach(date => {
        let curr = date.textContent
        date.textContent = curr.split(',')[0]
    })

</script>
{% endblock content %}